.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
}

.banner__titulo{
  font-size: 18px;
  font-weight: 700;  
}
.banner__texto{
    font-weight: 500;
}